<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858442017573-emg8r1oo5fj9m8ffpkbb3kdsfua7kils.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858442017573-emg8r1oo5fj9m8ffpkbb3kdsfua7kils</string>
	<key>API_KEY</key>
	<string>AIzaSyCYeiGoannnA8y9hEIQEFyPQ1lm56f_8zk</string>
	<key>GCM_SENDER_ID</key>
	<string>858442017573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TensorIOTPractical</string>
	<key>PROJECT_ID</key>
	<string>tensoriotpractical-de004</string>
	<key>STORAGE_BUCKET</key>
	<string>tensoriotpractical-de004.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858442017573:ios:3af5ed916930b7332188cc</string>
</dict>
</plist>